<div ng-include="'resources/static/partials/header.html'"></div>

<p data-ng-show="!model.connected">Connecting...</p>
<p>{{model.content}}</p>
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" data-ng-show="model.connected">
                    <span><b>{{model.topic}}</b> Chat room</span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="messages">
                    <p data-ng-repeat="message in model.messages">
                        <span class="text"><b>{{message.user}}: </b>{{message.message}}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <span data-ng-show="!model.topic">Enter Topic:</span>
    <form data-ng-show="!model.topic"role="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-9">
                <input type="text" class="form-control" id="input-topic" x-webkit-speech/>
            </div>
        </div>
    </form>

    <span data-ng-show="!model.topic == '' && !model.user">Enter Username:</span>
    <form data-ng-show="!model.topic == '' && !model.user"role="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-9">
                <input type="text" class="form-control" id="input-user" x-webkit-speech/>
            </div>
        </div>
    </form>

    <span data-ng-show="!model.user == ''">Enter Message:</span>
    <form data-ng-show="!model.user == ''" role="form" class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-9">
                <input type="text" class="form-control" id="input-message" data-ng-disabled="!model.connected" x-webkit-speech/>
            </div>
        </div>
    </form>
</div>